<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cafein">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".HistoryOrderDetail"></activity>
        <activity android:name=".OrderStatus2" />
        <activity android:name=".MenuRankingDetail" />
        <activity android:name=".OrderDetail" />
        <activity android:name=".ComplainWrite">
        </activity>
        <activity android:name=".ComplainDetail" />
        <activity android:name=".NormalCharge" />
        <activity android:name=".EStampDetail" />
        <activity android:name=".EasyOrderPayment" />
        <activity android:name=".OrderStatus" />
        <activity android:name=".PaymentComplete" />
        <activity android:name=".Payment" />
        <activity android:name=".FindUserID" />
        <activity android:name=".ChangeUserInfo" />
        <activity android:name=".ChangePw" />
        <activity android:name=".Setting" />
        <activity android:name=".Basket">
        </activity>
        <activity android:name=".MenuOption">
        </activity>
        <activity android:name=".MenuDetail">
        </activity>
        <activity android:name=".WholeMenu">
        </activity>
        <activity android:name=".RegStep" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".SignInActivity" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>